*.pyc

.venv
.data
.DS_Store
__pycache__

classifyFlowers102/source
classifyFlowers102/flowers
classifyFlowers102/runs
classifyFlowers102/yolov8n-cls.pt
classifyFlowers102/yolov8n.pt

CIFAR100supergradients/data
CIFAR100supergradients/checkpoints

DocumentKeypoints/source
DocumentKeypoints/ds
DocumentKeypoints/plot_dataset_tagging
DocumentKeypoints/session

minClassify/session

FaceKeypoints/ds
FaceKeypoints/plot_dataset_tagging
FaceKeypoints/plot_inference_results
FaceKeypoints/session

TennisKeypoints/ds
TennisKeypoints/plot_dataset_tagging
TennisKeypoints/plot_inference_results
TennisKeypoints/session

FootballUltralytics/source/
FootballUltralytics/runs